.reviews {
	padding: 80px;
	padding-bottom: 75px;
	background: url(../img/bg-section.jpg) center no-repeat #fff3e6;
	background-size: cover;
	&-content {
		margin-top:50px;

		&-box {
			box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
			background-color: #ffffff;
		
			border-radius: 10px;
position: relative;
padding-bottom: 45px;
		}
	}

	&-ava {
		width: 206px;
		height: 206px;
		position: relative;
		top: -50px;
		margin-bottom: -50px;
		display: flex;
		justify-content: center;
		margin-right: auto;
		margin-left: auto;

		img {
			display: block;
		}
	}

	&-name {
		color: #1a1a1a;
		font-size: 22px;
		font-weight: 500;
		line-height: 1;
		text-align: center;
		margin-top: 24px;
	}
	&-line{
		color: #000000;
text-align: center;
		font-size: 19px;
		font-weight: 500;
		line-height: 28px;
background-color: #fff3e6;
text-align: center;
position: relative;
padding: 5px;
margin-top: 30px;
&:before {
	content: '';
	background: url(../img/line-befo.png) no-repeat;
	width: 23px;
	height: 17px;
	position: absolute;
	top: -12px;
	left: 50%;
	transform: translateX(-50%);
	}
}
&-text{
	margin-top: 20px;
	color: #444444;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 28px;
padding: 0 30px;
text-align: center;
padding-bottom: 0px;
max-height: 160px;
overflow: hidden;
transition: all .5s;
}
}
.shadow {
	position: absolute;
	width: 100%;
	height: 150px;
	bottom: 37px;
	left: 0;
	opacity: 1;
	transition: opacity 1s;
	background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}
.reviews-content-box__cbtn {
	width: 36px;
height: 36px;
background-color: #6ecb5b;
border: 4px solid #fff;
	border-radius: 50%;
	position: relative;
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: -16px;
	transition: all .5s;
	cursor: pointer;
&:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -42%);
	width: 0;
height: 0;
border-style: solid;
border-width: 8px 4.5px 0 4.5px;
border-color: #ffffff transparent transparent transparent;
transition: all .5s
}

}
.content-plus .reviews-text {
	max-height: 800px;
}
.content-plus .reviews-content-box__cbtn:before {
	transform: translate(-50%, -66%) rotate(-180deg);
	transition: all .5s
}
.content-plus .shadow {
	opacity: 0;
}
.slick-slide {
	margin: 0 15px;
	margin-top: 50px;
	margin-bottom: 17px;
}
.slick-list {
	margin: 0 -15px;
}
.slick-next {
	font-size: 0;
	width: 40px;
height: 40px;

	right: -70px;
	border-radius: 50%;
	transition: all .5s;
	background: url(../img/icon-arrow2.svg) no-repeat center;
	background-color: #dfccb8;
	background-position: 42% 50%;
	transform: rotate(-180deg) translateY(-6%);
}
.slick-next:before, .slick-prev:before{
	font-size: 0;
}
.slick-prev {
	font-size: 0;
	width: 40px;
	height: 40px;
	background-color: #dfccb8;
	left: -70px;
	border-radius: 50%;
	transition: all .5s;
	background: url(../img/icon-arrow2.svg) no-repeat center;
	background-color: #dfccb8;
	background-position: 42% 50%;
	transform: translateY(-6%);
}
.slick-next:hover, .slick-next:focus, .slick-prev:hover, .slick-prev:focus {
	background: url(../img/icon-arrow.svg) no-repeat center;
	background-color: #f68b1f;
}
.slick-next:hover, .slick-next:focus{
	transform: rotate(-0deg) translateY(6%);
}
.slick-prev:hover, .slick-prev:focus{
	transform: rotate(-180deg) translateY(6%);
}
.reviews-thesis{
	color: #444444;
font-family: Roboto;
font-size: 18px;
font-style: italic;
line-height: 28px;
text-align: center;
margin-top: 60px;
}