<section class="reviews block" id="reviews">
	<div class="container">
		<h2 class="title">Отзывы</h2>
		<div class="reviews-content">
			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-1.png" alt="avatar"></div>
				<div class="reviews-name">Бесари, 52 года, г. Медан</div>
				<div class="reviews-line">Прошли трещины<br>
					на пятках</div>
				<div class="reviews-content__body">
					<div class="reviews-text">На пятках у меня были трещины
						<span class="text-nowrap">и кожа</span> была очень грубая
						<span class="text-nowrap">и некрасивая</span>. Потом почитала
						<span class="text-nowrap">в новостях</span>, что мужчина подцепил инфекцию серьезную через ступни
						<span class="text-nowrap">и решила</span> заняться своими ступнями. Хорошо, что я сразу выбор средств
						остановила на Nomidol. С ним трещины стали постепенно заживать и кожа становилась с каждой неделей здоровой.
						Больше инфекций я не боюсь, но и за здоровьем ног слежу.</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-2.png" alt="avatar"></div>
				<div class="reviews-name">Агунг, 46 лет, г. Джакарта</div>
				<div class="reviews-line">Быстро впитывается<br>
					и избавляет от зуда</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Решил оставить отзыв, по тому, что крем nomidol мне очень облегчил жизнь. У меня
						очень сильно стали ступни чесаться, а это очень неприятно. Я даже до крови расчесывал. Кремы пробовал, но
						из-за них ноги долго оставались мокрыми, они плохо впитывались и плохо пахли. А nomidol – мне подошел на все
						100%. Впитывается быстро, ступни и пальцы перестают чесаться очень быстро. И пахнет приятно крем.</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-3.png" alt="avatar"></div>
				<div class="reviews-name">Кинта, 49 лет, г. Паданг</div>
				<div class="reviews-line">Кожа перестала чесаться<br>
					и шелушиться</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Делюсь радостью, что смог избавиться от симптомов грибка
						с помощью Nomidol. Больше
						на ступнях и между пальцами ног
						не чешется кожа. Прошло покраснение и раздражение.
						Еще приятно, что кожа перестала шелушиться по всей подошве стопы. Этого я не ожидала, но очень рада эффекту.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>


			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-4.png" alt="avatar"></div>
				<div class="reviews-name">Сурья, 51 год, г. Тегал</div>
				<div class="reviews-line">Если принимать по инструкции,<br>
					то помогает</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Сначала был очень разочарован. Пользовался я кремом, но никаких результатов почему-то не было. 
						А жене он помогал хорошо. 
						Потом Мавар посмотрела, как я крем на ноги мажу и сказала, 
						что я слишком экономлю. Я хотел, чтобы крема хватило надолго и только капельку использовал за раз. А когда стал по инструкции делать, то все симптомы грибка стали уходить. Запах, зуд и ранки прошли.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-5.png" alt="avatar"></div>
				<div class="reviews-name">Кахья, 45 лет, г. Сабанг</div>
				<div class="reviews-line">В целом работает хорошо,<br>
					но долго ехал</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Надеюсь, что мой отзыв дойдет 
						до того, кому надо. В целом Nomidol показал себя хорошо. Все симптомы грибка прошли быстро. Единственное, что смутило, так это, что крем до меня ехал немного долго. А это не очень хорошо, потому что я очень занят на работе и часто рассчитываю время, когда у меня есть свободное время, а когда нет. Зато когда я позвонил, менеджер извинился и сделал мне большую скидку на мой следующий заказ.крем.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-6.png" alt="avatar"></div>
				<div class="reviews-name">Раджа, 57 лет, г. Солок</div>
				<div class="reviews-line">Для здоровья ног идеальное<br> средство</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Очень доволен, что пользуюсь именно nomidol, потому что у этого крема потрясающий эффект - против грибка, против трещин на ступнях 
						и против сухости кожи. Я мазал 
						его где-то один месяц. Из ощущений, то крем приятной консистенции, цвета и запаха, хотя главное, что помогает.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-7.png" alt="avatar"></div>
				<div class="reviews-name">Вулан, 49 лет, г. Парепарек</div>
				<div class="reviews-line">Удивила скорость с которой<br> работает крем</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Привыкла, что кремы и гели работают очень медленно и что мазаться 
						им нужно три месяца каждый день, чтобы помогли. А с Nomidol 
						все не так, потому что он ступни избавил от трещин и ран и шероховатостей на коже быстрее в три раза. Я его посоветовала всем своим родственникам, потому что очень и очень им довольна.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-8.png" alt="avatar"></div>
				<div class="reviews-name">Рату, 39 лет, г. Метро</div>
				<div class="reviews-line">Думала, что аллергия,<br>
					а оказался грибок</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Зуд и раздражения приняла 
						за аллергию, а это был грибок. Пыталась справиться с ним обычными кремами и, конечно, ничего не помогло. Взяла Nomidol 
						у подруги, она им трещина на пятках лечила и он мне помог. Так называемая аллергия, которая грибком была, стала быстро проходить. Трещины на пятках и у меня прошли, но дольше, кожа между пальцами ног стала снова здоровой.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>

			<div class="reviews-content-box">
				<div class="reviews-ava"><img src="img/ava-9.png" alt="avatar"></div>
				<div class="reviews-name">Пати, 44 года, г. Тидоре</div>
				<div class="reviews-line">Думала, что аллергия,<br>
					а оказался грибок</div>
				<div class="reviews-content__body">
					<div class="reviews-text">Зуд и раздражения приняла 
						за аллергию, а это был грибок. Пыталась справиться с ним обычными кремами и, конечно, ничего не помогло. Взяла Nomidol 
						у подруги, она им трещина на пятках лечила и он мне помог. Так называемая аллергия, которая грибком была, стала быстро проходить. Трещины на пятках и у меня прошли, но дольше, кожа между пальцами ног стала снова здоровой.
					</div>
					<div class="shadow"></div>
				</div>
				<div class="reviews-content-box__btn">
					<div class="reviews-content-box__cbtn"></div>
				</div>
			</div>


		</div>
		<div class="reviews-thesis">*Результаты могут варьироваться от индивидуальных особенностей организма</div>
	</div>
</section>