<section class="doctor block">
	<div class="container">
		<h2 class="title">«Избавиться от грибка и трещин<br>
			на коже теперь стало еще проще»</h2>
		<div class="doctor-content">
			<div class="doctor-left">
				<div class="doctor-img"><img src="img/doctor.png" alt="John Collins"></div>
				<div class="doctor-name">John <span class="orange">Collins</span></div>
				<div class="doctor-who">Автор статей о здоровье</div>
			</div>
			<div class="doctor-right">
				<p class="doctor-text">
					Раньше большинство людей игнорировали симптомы грибка.
					А если и пытались с ним бороться, то препараты скрывали симптомы на неделю-другую, после чего грибок снова
					набирал силу.
				</p>
				<p class="doctor-text">
					И только, когда здоровью уже был нанесен серьезный вред, люди начинали действовать.
				</p>
				<p class="doctor-text">
					Теперь же, все изменилось. О том, что грибок может сильно навредить здоровью, знают все. Плюс, появляются
					по-настоящему действенные средства. Это и кремы, и гели,
					и различные таблетки.
				</p>
				<p class="doctor-text">
					Лично я против грибка пользуюсь кремом Nomidol. Он отлично устраняет симптомы грибка и его последствия: зуд,
					покраснения, шелушения, трещины и язвы.
				</p>
				<p class="doctor-text">
					Крем избавляет от микробов и бактерий, а также оздоравливает кожу и <span class="text-nowrap">восстанавливает ее</span>.
				</p>
			</div>
		</div>
	</div>
</section>