<section class="use block">
	<div class="container">
		<h2 class="title use__title">Как применять крем <span class="color">Nomidol</span></h2>
		<div class="use__content">
			<div class="item">
				<div class="wrap-img">
					<img src="img/use-1.png" alt="" class="item__img">
				</div>
				<p class="item__text">
					Небольшое количество крема нанесите на&nbsp;проблемную зону
				</p>
			</div>
			<div class="item">
				<div class="wrap-img">
					<img src="img/use-2.png" alt="" class="item__img">
				</div>
				<p class="item__text">
					Вотрите легкими<br>круговыми движениями
				</p>
			</div>
			<div class="item">
				<div class="wrap-img">
					<img src="img/use-3.png" alt="" class="item__img">
				</div>
				<p class="item__text">
					Повторяйте утром и&nbsp;вечером
				</p>
			</div>
		</div>
		<div class="use__desc">Рекомендуемый курс – от 30 дней</div>
		<div class="btn use__btn">Заказать</div>
	</div>
</section>