<section class="composition block">
	<div class="container">
		<div class="composition__top">
			<img src="img/prod-small.png" alt="prod" class="prod">
			<div class="content">
				<h5 class="content__ttl">Крем <span class="color">Nomidol</span></h5>
				<p class="content__text">поможет избавиться от&nbsp;грибка
					и&nbsp;восстановить ваше здоровье</p>
			</div>
			<div class="btn composition__btn">Заказать Nomidol</div>
		</div>
	</div>
	<div class="line"></div>
	<div class="container">
		<h2 class="title composition__title">Натуральный состав крема <span class="color">Nomidol</span></h2>
		<p class="composition__desc">помогает избавиться от&nbsp;всего спектра проблем при грибке</p>
		<div class="composition__rows">
			<div class="row">
				<div class="row__item">
					<div class="row__img">
						<img src="img/composition1.png" alt="composition">
					</div>
					<h4 class="row__ttl">Масло Ши</h4>
					<p class="row__text">Активизирует микроциркуляцию крови в&nbsp;клетках кожи. Ускоряет процессы
						восстановления кожного покрова.</p>
				</div>
				<div class="row__item">
					<div class="row__img">
						<img src="img/composition2.png" alt="composition">
					</div>
					<h4 class="row__ttl">Витамин Е</h4>
					<p class="row__text">Способствует быстрому заживлению ран
						и&nbsp;трещин на коже. Ускоряет обменные процессы
						в&nbsp;клетках кожи, активизирует обновление клеток.</p>
				</div>
			</div>
			<div class="row-center">
				<img src="img/tube.png" alt="tube" class="row-center__prod">
			</div>
			<div class="row">
				<div class="row__item">
					<div class="row__img">
						<img src="img/composition3.png" alt="composition">
					</div>
					<h4 class="row__ttl">Пантенол</h4>
					<p class="row__text">Проникает глубоко в&nbsp;клетки кожи, снимает
						раздражения и&nbsp;воспаления. <br>
						Ускоряет заживление кожи.</p>
				</div>
				<div class="row__item row__item--last">
					<div class="row__img">
						<img src="img/composition4.png" alt="composition">
					</div>
					<h4 class="row__ttl">Глицерин</h4>
					<p class="row__text">Сохраняет влагу в&nbsp;клетках кожи,<br>
						делает ее&nbsp;эластичной. Защищает кожу<br>
						от&nbsp;загрязнения.</p>
				</div>
			</div>
		</div>
	</div>
</section>