<section class="suspicion block">
	<div class="container">
		<h2 class="title">Грибок опасен для всего организма</h2>
		<div class="suspicion-content">
			<div class="suspicion-box susb">
				<div class="suspicion-img"><img src="img/sus-1.png" alt="suspicion"></div>
				<div class="suspicion-text">Проникает<br>
					во внутренние органы</div>
			</div>
			<div class="suspicion-box">
				<div class="suspicion-img"><img src="img/sus-2.png" alt="suspicion"></div>
				<div class="suspicion-text">Ослабляет иммунитет<br>
					и приводит к аллергиям</div>
			</div>
			<div class="suspicion-box susb">
				<div class="suspicion-img"><img src="img/sus-3.png" alt="suspicion"></div>
				<div class="suspicion-text">Приводит к потере<br>
					ногтевых пластин</div>
			</div>
			<div class="suspicion-box">
				<div class="suspicion-img"><img src="img/sus-4.png" alt="suspicion"></div>
				<div class="suspicion-text">Вызывает тяжелые<br>
					экземы и дерматиты</div>
			</div>
		</div>
		<div class="thesis-box">Если от грибка не избавиться, он может привести к серьезным проблемам</div>
	</div>
</section>