<section class="delivery block" id="delivery">
	<div class="container">
			<h2 class="title">Как заказать доставку <span class="orange">Nomidol</span></h2>
			<div class="delivery-content">
				<div class="delivery-box  del-box1">
					<div class="delivery-box__img"><img src="img/delivery-1.png" alt="delivery"></div>
					<div class="delivery-box__title">Заполните форму заказа</div>
					<div class="delivery-box__text">Укажите только свое имя<br>
						и номер телефона</div>
				</div>
				<div class="delivery-box del-box2">
					<div class="delivery-box__img"><img src="img/delivery-2.png" alt="delivery"></div>
					<div class="delivery-box__title">Ответьте на звонок оператора</div>
					<div class="delivery-box__text">Он уточнит ваши адресные<br> данные и ответит на все<br> вопросы о <b>Nomidol</b></div>
				</div>
				<div class="delivery-box  del-box3">
					<div class="delivery-box__img"><img src="img/delivery-3.png" alt="delivery"></div>
					<div class="delivery-box__title">Оплатите <span class="orange">после получения</span></div>
					<div class="delivery-box__text">Никаких предоплат!</div>
				</div>
			</div>
	</div>
</section>