<section class="risky block">
	<div class="container">
			<h2 class="title"><span class="red">Внимание!</span><br>	
				Вероятно, у вас грибок если:</h2>
				<div class="risky-content">
					<div class="risky-left">
						<div class="risky-item">
							<div class="risky-item__img img-bb2">
								<img src="img/risky-1.png" alt="risky">
							</div>
								<div class="risky-item__text">Ступни чешутся,<br> наблюдается чувство<br> жжения</div>
						</div>
								<div class="risky-item">
							<div class="risky-item__img img-bb1">
								<img  src="img/risky-3.png" alt="risky"></div>
								<div class="risky-item__text">Кожа на подошве ступни<br> огрубела и шелушится</div>
							
						</div>
					</div>
					<div class="risky-center">
							<div class="risky-foot">
								<img class="foot" src="img/foot.png" alt="foot">
								<span class="pulse pulse1"><span class="inn-pulse"></span></span>
								<span class="pulse pulse2"><span class="inn-pulse"></span></span>
								<span class="pulse pulse3"><span class="inn-pulse"></span></span>
								<span class="pulse pulse4"><span class="inn-pulse"></span></span>
							</div>
					</div>
					<div class="risky-right">
						<div class="risky-item">
							<div class="risky-item__img img-bb3">
								<img src="img/risky-2.png" alt="risky"></div>
								<div class="risky-item__text">На стопах появились<br> красные высыпания<br> или трещины</div>
							</div>
							<div class="risky-item">
							<div class="risky-item__img img-bb4">
								<img src="img/risky-4.png" alt="risky"></div>
								<div class="risky-item__text">Между пальцами ног есть<br> волдыри и раздражение<br> кожи</div>
							</div>
						</div>
					</div>
					<div class="thesis-box">Избавляться от грибка нужно при первом же симптоме!</div>
				</div>
			

</section>